bin/
obj/
*.suo
*.csproj.user
/.vs/TidyNet/FileContentIndex/*.vsidx
/*.DotSettings
/.vs/ProjectEvaluation/*.bin
/.vs/TidyNet/DesignTimeBuild/*.v2
/.vs/TidyNet/v17/*.v2
/source/TidyNet/Properties/PublishProfiles/*.user
